.dingbu{
	width: 101%;
	height: 0.41rem;
	background: #37BBFF;
	position: fixed;
}
.dingbu img{
	width: 100%;
	height: auto;
}


.logo{
	width: 100%;
	height: 0.7rem;
	background: #007BE3;
	position: fixed;
	margin-top: 0.41rem;
}
.logo .left{
	width:48%;
	height: 0.5rem;
    float: left;
	
}
.logo .left img{
	width: 0.6rem;
	height: 0.6rem;
	display: block;
	margin-top: 0.05rem;
	margin-left: 2.8rem;

}
.logo .right{
	width: 52%;
	height: 0.5rem;
	float: left;	
	line-height: 0.7rem;
}
.logo .right h3{
	font-size: 0.27rem;
	color: white;
}

.banner{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.banner img{
	width: 100%;
	height:auto;
	margin-top: 1rem;
}

.hengzi{
	width: 100%;
	height: 0.67rem;

}
.hengzi span{
	box-sizing: border-box;
	padding-left: 0.2rem;
	font-size: 0.2rem;
	line-height: 0.67rem;
}
.hengzi a{
	text-decoration: none;
	color: black;
}

.lou8{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.lou8 ul{
	width: 95%;
	height: auto;
	overflow: hidden;
	margin:0 auto;
}
.lou8 ul>li{
	width: 100%;
	height: 1.86rem;
	background: white;
    margin-top: 0.1rem;
	
}
.lou8 ul>li img{
	width: 1.94rem;
	height: 1.45rem;
	float: left;
	margin-left: 0.2rem;
	margin-top:0.2rem;
	box-sizing: border-box;
	/*padding-left: 0.35rem;
	padding-top:0.35rem;*/
}
.lou8 .zi{
	width:65%;
	height: 1.17rem;
	float: right;
	box-sizing: border-box;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}
.lou8 .zi h2{
	width: 1.5rem;
	font-size: 0.25rem;
	box-sizing: border-box;
	border-bottom: 0.01rem dashed #ccc;
}
.lou8 .zi h2 span{
	font-size: 0.1rem;
	color: #939393;
}
.lou8 .zi h3{
	box-sizing: border-box;
    padding-top: 0.1rem;
	font-size: 0.25rem;
	color: greenyellow;
}
.lou8 .zi h4{
	box-sizing: border-box;
	padding-top: 0.1rem;
	font-size: 0.2rem;
}


.dibu{
	width: 100%;
	hanging-punctuation: auto;
	text-align: center;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
.dibu p{
	font-size: 0.2rem;
	color: #8F8F91;
}


	
.fenye1{
	width: 100%;
	height: 0.7rem;
	margin:0.2rem auto;
	background: white;
	line-height: 0.7rem;
	box-sizing: border-box;
	padding:0.05rem 0.15rem;

	
}
.fenye1 .a1{
	float: left;
	margin-left: 0.2rem;
}
.fenye1 .a1 img{
	width: 0.5rem;
	height: 0.27rem;
}
.fenye1 .a2{
	float: left;
	margin-left: 0.2rem;
}
.fenye1 .a2 img{
	width: 0.27rem;
	height: 0.27rem;
}
.fenye1 .a3{
	float: left;
	margin-left: 0.2rem;
	padding:0rem;
}
.fenye1 .a3 img{
	width: 0.27rem;
	height: 0.27rem;
}
.fenye1 .a4{
	float: left;
	margin-left: 0.2rem;
}
.fenye1 .a4 img{
	width: 0.27rem;
	height: 0.27rem;
}
.fenye1 .a5{
	float: left;
	margin-left: 0.2rem;
}
.fenye1 .a5 img{
	width: 0.27rem;
	height: 0.27rem;
}
.fenye1 .a6{
	float: left;
	margin-left: 0.2rem;
}
.fenye1 .a6 img{
	width: 0.27rem;
	height: 0.27rem;
}
.fenye1 .a7{
	float: left;
	margin-left: 0.2rem;
}
.fenye1 .a7 img{
	width: 0.27rem;
	height: 0.27rem;
}
.fenye1 .a20{
	float: left;
	margin-left: 0.2rem;
}
.fenye1 .a20 img{
	width: 0.5rem;
	height: 0.27rem;
}
.fenye1 .a8{
	float: left;
	margin-left: 0.2rem;
}
.fenye1 .a8 img{
	width: 0.5rem;
	height: 0.27rem;
}
.fenye1 .a9{
	float: left;
	margin-left: 0.2rem;
}
.fenye1 .a9 img{
	width: 0.27rem;
	height: 0.27rem;
}
.fenye1 span{
	float: left;
	margin-left: 0.2rem;
	margin-top:-0.1rem;
}



